.btn {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;
  padding: 1rem;
  border: 3px solid;
  border-radius: 8px;
  transition: all 0.3s;

  @include respond(xlg-phone) {
    font-size: 3.5rem;
  }

  @include respond(laptop) {
    font-size: 4.5rem;
  }

  &--primary {
    color: color(primary);

    &:hover {
      color: color(primary-dark);
    }

    &:hover .icon--primary {
      fill: color(primary-dark);
    }
  }
}

.icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  transition: all 0.3s;

  @include respond(tablet) {
    height: 40px;
    width: 40px;
  }

  &--primary {
    fill: color(primary);
  }
}