img:not(.non-responsive) {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.vertical-padding {
  padding-top: 7.5vw;
  padding-bottom: 7.5vw;
}

.text-shadow-blk {
  text-shadow: 1px 1px 2px color(black-1);
}