img:not(.non-responsive) {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

.bottom-margin {
  margin-bottom: 2rem;

  @include respond(xlg-phone) {
    margin-bottom: 3rem;
  }
}

.vertical-padding {
  padding-top: 20vw;
  padding-bottom: 20vw;

  @include respond(tablet) {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }

  @include respond(desktop) {
    padding-top: 7.5vw;
    padding-bottom: 7.5vw;
  }
}

.text-center {
  text-align: center !important;
}

.text-shadow-blk {
  text-shadow: 1px 1px 2px color(black-1);
}