.contact {
  background: color(tertiary);
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  
  // .contact__modal
  &__modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    overflow: scroll;
  }
  
  // .contact__modal-bg
  &__modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(55,55,55,0.9);
    z-index: 1001;
  }
}