.home {
  text-align: center;
  background: url(https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
  background-position: top left;
  color: color(white-1);
  background-size: cover;
  padding-top: 10rem;
  box-shadow: 0 1px 4px 2px rgba(11,11,9,0.7);
  position: relative;
  flex-direction: column;
  justify-content: space-around;

  @include respond(xlg-phone) {
    padding-top: 15rem;
  }

  @include respond(tablet) {
    padding-top: 20rem;
  }

  @include respond(laptop) {
    background-position: center center;
    padding-top: 22.5rem;
    // justify-content: center;
  }

  // .home__content p:first-child
  &__content p:first-child {
    font-size: 4.5rem;
    font-weight: bold;

    @include respond(xlg-phone) {
      font-size: 5rem;
    }

    @include respond(laptop) {
      font-size: 8rem;
    }

    @include respond(desktop) {
      font-size: 10rem;
    }
  }
  
  // .home__content p:not(:first-child)
  &__content p:not(:first-child) {
    font-size: 1.8rem;
    max-width: 95vw;
    margin: 0 auto;
    line-height: 1.4;
    margin-top: 1rem;

    @include respond(xlg-phone) {
      font-size: 2rem;
      max-width: 90vw;
    }

    @include respond (tablet) {
      font-size: 2.2rem;
      max-width: 80vw;
    }

    @include respond(laptop) {
      font-size: 4rem;
      max-width: 80vw;
    }
  }
  
  // .home__cta-btn
  &__cta-btn {
    margin: 2rem;
    background: rgba(15,15,15,.6);
  }
}
