.portfolio {
  background: color(secondary);

  // .portfolio__project
  &__project {
    background: color(tertiary);
    margin-bottom: 2rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px rgba(55,55,55,0.7);

    @include respond(tablet) {
      margin-bottom: 5rem;
    }
  }

  // .portfolio__thumbnail
  // &__thumbnail {
    
  // }

  // .portfolio__content
  &__content {
    padding: 2rem;
    color: color(white-2);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(tablet) {
      padding: 4rem;
    }
  }

  // .portfolio__header
  &__header {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;

    @include respond(tablet) {
      font-size: 3.5rem;
      text-align: left;
    }
  }

  // .portfolio__desc
  &__desc {
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: justify;

    @include respond(tablet) {
      text-align: left;
    }
  }
  
  // .portfolio__link
  &__link {
    font-size: 1.4rem;
    color: color(primary);
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    position: relative;
    text-align: center;

    @include respond(tablet) {
      padding: 10px;
      text-align: left;
    }
  }
  
  // .portfolio__link::after
  &__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 3px solid;
    transition: all 0.3s ease-out;
  }
  
  // .portfolio__link:hover::after
  &__link:hover::after {
    left: 20%;
    right: 20%;
    transition: all 0.3s ease-in;

    @include respond(tablet) {
      right: 50%;
      left: 0;
    }
  }
}

.container__col:last-child .portfolio__project {
  margin-bottom: 0;
}