.portfolio {
  background: color(secondary);

  // .portfolio__project
  &__project {
    background: color(tertiary);
    margin-bottom: 5rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px rgba(55,55,55,0.7);
  }

  // .portfolio__thumbnail
  // &__thumbnail {
    
  // }

  // .portfolio__content
  &__content {
    padding: 4rem;
    color: color(white-2);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .portfolio__header
  &__header {
    font-size: 3.5rem;
  }

  // .portfolio__desc
  &__desc {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  // .portfolio__link
  &__link {
    font-size: 1.4rem;
    color: color(primary);
    text-decoration: none;
    /* border-bottom: 3px solid; */
    display: inline-block;
    padding: 10px;
    position: relative;
  }
  
  // .portfolio__link::after
  &__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 3px solid;
    transition: right 0.3s ease-out;
  }
  
  // .portfolio__link:hover::after
  &__link:hover::after {
    right: 50%;
    transition: right 0.3s ease-in;
  }
}

.container__col:last-child .portfolio__project {
  margin-bottom: 0;
}