/* Media Query Manager
0 - 600px : Phone
600-900: Phone/Tablet
900-1200px: Tablet
1200-1800px: Laptop
1800px +: Desktop

$breakpoint choices:
- large phone 
- tablet
- laptop
- desktop

ORDER: Base + typography > general layout + grid > page layout + components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif; }

main {
  flex: 1;
  border-bottom: 1px solid; }

img:not(.non-responsive) {
  max-width: 100%;
  height: auto; }

.hide {
  display: none !important; }

.bottom-margin {
  margin-bottom: 3rem; }

.vertical-padding {
  padding-top: 10vw;
  padding-bottom: 10vw; }
  @media only screen and (min-width: 112.5em) {
    .vertical-padding {
      padding-top: 7.5vw;
      padding-bottom: 7.5vw; } }

.text-shadow-blk {
  text-shadow: 1px 1px 2px #000; }

.btn {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
  border: 3px solid;
  border-radius: 8px;
  transition: all 0.3s; }
  .btn--primary {
    color: #F96F27; }
    .btn--primary:hover {
      color: #9c3804; }
    .btn--primary:hover .icon--primary {
      fill: #9c3804; }

.icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  transition: all 0.3s; }
  @media only screen and (min-width: 56.25em) {
    .icon {
      height: 40px;
      width: 40px; } }
  .icon--primary {
    fill: #F96F27; }

.form {
  max-width: 500px;
  width: 100%;
  background: #222;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 0 6px 2px rgba(22, 22, 22, 0.5);
  border: 2px solid #111;
  position: relative;
  z-index: 1002; }
  .form__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: bold;
    color: #F96F27;
    cursor: pointer; }
  .form__header {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #F96F27; }
  .form__label {
    display: none;
    /* add style to display on input focus */ }
  .form__input, .form__textarea {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 0 none;
    font-size: 1.2rem; }
  .form__textarea {
    height: 6rem; }
  .form__submit-btn {
    background: orange;
    border: 0 none;
    width: 100%;
    padding: .75rem 2rem;
    border-radius: 5px;
    font-size: 1.4rem;
    color: #222;
    font-weight: bold; }

.footer {
  background: #222;
  border-top: 1px solid #7d9195;
  text-align: center; }
  .footer__icons {
    padding: 2.5rem 0;
    position: relative; }
  .footer__icons::after {
    content: '';
    border-bottom: 2px solid;
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%; }
    @media only screen and (min-width: 112.5em) {
      .footer__icons::after {
        left: 25%;
        right: 25%; } }
  .footer__icon-link {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #7d9195;
    margin: 0 10px;
    padding: 10px;
    transition: all 0.3s; }
    .footer__icon-link:hover {
      border-color: #434E50; }
    .footer__icon-link:hover .footer__icon {
      stroke: #434E50;
      fill: #434E50; }
  .footer__icon {
    height: 30px;
    width: 30px;
    stroke: #7d9195;
    fill: #7d9195;
    transition: all 0.3s; }
    @media only screen and (min-width: 56.25em) {
      .footer__icon {
        height: 40px;
        width: 40px; } }
  .footer__icon-link:first-child .footer__icon,
  .footer__icon-link:last-child .footer__icon {
    transform: translateY(2px); }
  .footer__copy {
    font-size: 1.4rem;
    color: #7d9195;
    line-height: 4;
    position: relative; }
  .footer__copy::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    border-top: 1px solid; }
    @media only screen and (min-width: 112.5em) {
      .footer__copy::after {
        left: 25%;
        right: 25%; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease-out; }
  .header .logo {
    max-width: 100px;
    transition: max-width .3s ease-out; }
    @media only screen and (min-width: 75em) {
      .header .logo {
        max-width: 200px; } }
    @media only screen and (min-width: 112.5em) {
      .header .logo {
        max-width: 273px; } }

.header--scroll {
  box-shadow: 0 2px 3px 3px rgba(99, 16, 30, 0.2);
  background: rgba(0, 0, 0, 0.9);
  transition: background 0.3s ease-in; }
  .header--scroll .logo {
    max-width: 70px;
    transition: max-width 0.3s ease-in; }
    @media only screen and (min-width: 75em) {
      .header--scroll .logo {
        max-width: 160px; } }
    @media only screen and (min-width: 112.5em) {
      .header--scroll .logo {
        max-width: 180px; } }

.container {
  max-width: 100vw;
  padding: 0 10px; }
  @media only screen and (min-width: 112.5em) {
    .container {
      max-width: 85vw; } }

.full-height {
  min-height: 100vh; }

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
  @media only screen and (min-width: 37.5em) {
    .responsive-grid {
      grid-template-columns: repeat(auto-fit, minmax(445px, 1fr)); } }
  @media only screen and (min-width: 56.25em) {
    .responsive-grid {
      grid-template-columns: repeat(auto-fit, minmax(590px, 1fr)); } }

.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.nav__menu-icon {
  font-size: 1.4rem;
  color: #fff; }
  @media only screen and (min-width: 56.25em) {
    .nav__menu-icon {
      display: none; } }

.nav__list {
  list-style: none;
  display: none; }
  @media only screen and (min-width: 56.25em) {
    .nav__list {
      display: flex; } }

.nav__item {
  padding: 10px; }

.nav__link {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none; }
  @media only screen and (min-width: 75em) {
    .nav__link {
      font-size: 2rem; } }
  .nav__link:hover {
    color: #F96F27; }
  .nav__link:hover .nav__icon {
    fill: #F96F27; }

.nav__icon {
  height: 20px;
  width: 20px;
  fill: #fff; }

.about {
  background: url(https://images.pexels.com/photos/1591060/pexels-photo-1591060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative;
  box-shadow: 0px 0px 4px 2px rgba(11, 11, 9, 0.7);
  color: #f1f1f1; }
  @media only screen and (min-width: 56.25em) {
    .about {
      background-position: bottom center; } }
  @media only screen and (min-width: 75em) {
    .about {
      background-size: auto;
      background-position: 15% 80%; } }
  @media only screen and (min-width: 75em) {
    .about .responsive-grid {
      align-items: center; } }
  .about__col {
    padding-left: 1rem;
    padding-right: 1rem; }
    @media only screen and (min-width: 37.5em) {
      .about__col {
        padding-left: 3rem;
        padding-right: 3rem; } }
    @media only screen and (min-width: 37.5em) {
      .about__col--image {
        padding-left: 12.5vw;
        padding-right: 12.5vw; } }
    @media only screen and (min-width: 75em) {
      .about__col--image {
        padding-left: 2rem;
        padding-right: 2rem;
        order: 2; } }
  .about__image {
    background: #fff;
    border-radius: 15%;
    box-shadow: 0px 0px 6px 1px rgba(55, 55, 55, 0.7);
    padding: .5rem;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 37.5em) {
      .about__image {
        margin-bottom: 3rem; } }
    @media only screen and (min-width: 75em) {
      .about__image {
        margin-bottom: 0;
        order: 2; } }
  .about__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    @media only screen and (min-width: 75em) {
      .about__content {
        order: 1; } }
  .about__header {
    font-size: 2.5rem;
    text-align: center; }
    @media only screen and (min-width: 37.5em) {
      .about__header {
        font-size: 3rem; } }
    @media only screen and (min-width: 75em) {
      .about__header {
        text-align: left; } }
  .about__text {
    font-size: 1.6rem;
    text-align: justify; }
    @media only screen and (min-width: 37.5em) {
      .about__text {
        font-size: 1.8rem; } }
    @media only screen and (min-width: 75em) {
      .about__text {
        text-align: left; } }

.contact {
  background: #434E50;
  padding: 2.5rem 0;
  display: flex;
  justify-content: center; }
  .contact__modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px; }
  .contact__modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(55, 55, 55, 0.9);
    z-index: 1001; }

.home {
  text-align: center;
  background: url(https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
  background-position: top left;
  color: #fff;
  background-size: cover;
  padding-top: 10rem;
  box-shadow: 0 1px 4px 2px rgba(11, 11, 9, 0.7);
  position: relative;
  flex-direction: column;
  justify-content: flex-start; }
  @media only screen and (min-width: 37.5em) {
    .home {
      padding-top: 15rem; } }
  @media only screen and (min-width: 56.25em) {
    .home {
      padding-top: 20rem; } }
  @media only screen and (min-width: 75em) {
    .home {
      background-position: center center;
      padding-top: 22.5rem;
      justify-content: center; } }
  .home__content p:first-child {
    font-size: 4rem;
    font-weight: bold; }
    @media only screen and (min-width: 112.5em) {
      .home__content p:first-child {
        font-size: 10rem; } }
  .home__content p:not(:first-child) {
    font-size: 1.6rem;
    max-width: 95vw;
    margin: 0 auto;
    line-height: 1.4;
    margin-top: 1rem; }
    @media only screen and (min-width: 37.5em) {
      .home__content p:not(:first-child) {
        font-size: 1.8rem;
        max-width: 90vw; } }
    @media only screen and (min-width: 56.25em) {
      .home__content p:not(:first-child) {
        font-size: 2rem;
        max-width: 80vw; } }
    @media only screen and (min-width: 75em) {
      .home__content p:not(:first-child) {
        max-width: 80vw; } }
    @media only screen and (min-width: 112.5em) {
      .home__content p:not(:first-child) {
        font-size: 4rem; } }
  .home__cta-btn {
    margin: 2rem;
    background: rgba(15, 15, 15, 0.6); }

.portfolio {
  background: #7d9195; }
  @media only screen and (min-width: 37.5em) {
    .portfolio {
      padding-left: 5vw;
      padding-right: 5vw; } }
  @media only screen and (min-width: 56.25em) {
    .portfolio .responsive-grid {
      grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
      gap: 2rem; } }
  @media only screen and (min-width: 112.5em) {
    .portfolio .responsive-grid {
      grid-template-columns: repeat(auto-fit, minmax(77rem, 1fr));
      gap: 4rem; } }
  .portfolio__project {
    background: #434E50;
    margin-bottom: 2rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px rgba(55, 55, 55, 0.7); }
    @media only screen and (min-width: 56.25em) {
      .portfolio__project {
        margin-bottom: 0rem; } }
  .portfolio__project.responsive-grid {
    gap: 0; }
    @media only screen and (min-width: 112.5em) {
      .portfolio__project.responsive-grid {
        grid-template-columns: repeat(auto-fit, minmax(75rem, 1fr)); } }
  .portfolio__content {
    padding: 2rem;
    color: #f1f1f1;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (min-width: 56.25em) {
      .portfolio__content {
        padding: 4rem; } }
  .portfolio__header {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center; }
    @media only screen and (min-width: 37.5em) {
      .portfolio__header {
        margin-bottom: 2rem; } }
    @media only screen and (min-width: 56.25em) {
      .portfolio__header {
        font-size: 3.5rem;
        text-align: left; } }
  .portfolio__desc {
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: justify; }
    @media only screen and (min-width: 37.5em) {
      .portfolio__desc {
        font-size: 1.6rem; } }
    @media only screen and (min-width: 56.25em) {
      .portfolio__desc {
        text-align: left; } }
  .portfolio__link {
    font-size: 1.8rem;
    color: #F96F27;
    text-decoration: none;
    display: inline-block;
    padding: 30px 15px 15px;
    position: relative;
    text-align: center; }
    @media only screen and (min-width: 56.25em) {
      .portfolio__link {
        padding: 10px;
        text-align: left; } }
  .portfolio__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 3px solid;
    transition: all 0.3s ease-out; }
  .portfolio__link:hover::after {
    left: 20%;
    right: 20%;
    transition: all 0.3s ease-in; }
    @media only screen and (min-width: 56.25em) {
      .portfolio__link:hover::after {
        right: 50%;
        left: 0; } }

.container__col:last-child .portfolio__project {
  margin-bottom: 0; }
