*,
*::after.
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 3px 3px rgba(99,16,30,.2);
  background: rgba(0,0,0,.9);
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item {
  padding: 10px;
}

.nav__link {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

main {
  flex: 1;
}

.home {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center;
  color: white;
  background-size: cover;
  padding-top: 225px;
}

.home__content p:first-child {
  font-size: 8rem;
  font-weight: bold;
}

.home__content p:not(:first-child) {
  font-size: 3rem;
  max-width: 80vw;
  margin: 0 auto;
  line-height: 1.4;
  margin-top: 1rem;
}

.home__cta-btn {
  margin: 2rem;
  display: inline-block;
  color: orange;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
  border: 2px solid;
  background: rgba(15,15,15,.6);
}

.portfolio {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  border-top: 1px solid;
  padding: 20px;
}

footer p {
  margin-top: 10px;
}