.footer {
  background: #222;
  border-top: 1px solid #7E9195;
  text-align: center;

  // .footer__icons
  &__icons {
    padding: 2.5rem 0;
    position: relative;
  }
  
  // .footer__icons::after
  &__icons::after {
    content: '';
    border-bottom: 2px solid #0a0a0a;
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
  }

  &__icon-link {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #7E9195;
    margin: 0 10px;
    padding: 10px;
  }

  &__icon {
    height: 40px;
    width: 40px;
    stroke: #7E9195;
    fill: #7E9195;
  }
  
  // .footer__copy
  &__copy {
    color: #7E9195;
    line-height: 4;
    position: relative;
  }
  
  // .footer__copy::after
  &__copy::after {
    content: '';
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    border-top: 1px solid;
  }
}