.footer {
  background: color(gray-2);
  border-top: 1px solid color(secondary);
  text-align: center;

  // .footer__icons
  &__icons {
    padding: 2.5rem 0;
    position: relative;
  }
  
  // .footer__icons::after
  &__icons::after {
    content: '';
    border-bottom: 2px solid color(black-2);
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
  }

  &__icon-link {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid color(secondary);
    margin: 0 10px;
    padding: 10px;
    transition: all 0.3s;

    &:hover {
      border-color: color(tertiary);
    }

    &:hover .footer__icon {
      stroke: color(tertiary);
      fill: color(tertiary);
    }
  }

  &__icon {
    height: 40px;
    width: 40px;
    stroke: color(secondary);
    fill: color(secondary);
    transition: all 0.3s;
  }

  &__icon-link:first-child &__icon, 
  &__icon-link:last-child &__icon {
    transform: translateY(2px);
}
  
  // .footer__copy
  &__copy {
    color: color(secondary);
    line-height: 4;
    position: relative;
  }
  
  // .footer__copy::after
  &__copy::after {
    content: '';
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    border-top: 1px solid;
  }
}