header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 2px 3px 3px rgba(99,16,30,.2);
  background: rgba(0,0,0,.9);
}