.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: rgba(0,0,0,0);
  transition: background 0.3s ease-out;

  .logo {
    max-width: 130px;
    transition: max-width .3s ease-out;

    @include respond(xlg-phone) {
      max-width: 150px;
    }

    @include respond(tablet) {
      max-width: 180px;
    }

    @include respond(laptop) {
      max-width: 250px;
    }

    @include respond(desktop) {
      max-width: 273px;
    }
  }
}

.header--scroll {
  box-shadow: 0 2px 3px 3px rgba(99,16,30,.2);
  background: rgba(color(gray-2),.9);
  transition: background 0.3s ease-in;

  .logo {
    max-width: 80px;
    transition: max-width 0.3s ease-in;

    @include respond(xlg-phone) {
      max-width: 100px
    }

    @include respond(tablet) {
      max-width: 120px;
    }

    @include respond(laptop) {
      max-width: 160px;
    }

    @include respond(desktop) {
      max-width: 180px;
    }
  }
}