.nav {
  // .nav__list
  &__list {
    list-style: none;
    display: flex;
  }

  // .nav__item
  &__item {
    padding: 10px;
  }

  // .nav__link
  &__link {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}