.nav {
  &__menu-icon {
    font-size: 1.4rem;
    color: color(white-1);
    
    @include respond(tablet) {
      display: none;
    }
  }

  // .nav__list
  &__list {
    list-style: none;
    display: none;

    @include respond(tablet) {
      display: flex;
    }
  }

  // .nav__item
  &__item {
    padding: 10px;
  }

  // .nav__link
  &__link {
    font-size: 1.5rem;
    color: color(white-1);
    font-weight: bold;
    text-decoration: none;

    @include respond(laptop) {
      font-size: 2rem;
    }

    &:hover {
      color: color(primary);
    }

    &:hover .nav__icon {
      fill: color(primary);
    }
  }

  // .nav__icon
  &__icon {
    height: 20px;
    width: 20px;
    fill: color(white-1);
  }
}